@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Karla', sans-serif;
  }
  .App{
      width: 550px;
      margin: 40px auto;
  }
  .nav{
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  }
  .logo-name{
      font-size: 22px;
      font-weight: 700;
      margin-left: 8px;
  }
  .nav-title{
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
  }